.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
# Credenciais - nunca commitar!
include/credentials.h
# Backend credentials
backend/credentials.env
backend/node_modules

#Notas Pessoais
notas/